@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* ### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;

}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background-color: hsl(216, 12%, 8%);
}

.parent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.block {
    background-color: hsl(213, 19%, 18%);
    flex-basis: 420px;
    border-radius: 10px;
}

.icon_star {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 10px 40px;
    
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
}

.title {
    
    font-weight: 400;
    font-size: 28px;
    color: hsl(0, 0%, 100%);
    padding: 0 40px 15px 40px;
}



.description{
    color:hsl(216, 12%, 54%) ;
    padding: 0 40px 25px 40px;
}

.raiting {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 0 20px 15px 20px;
    
}

.raiting div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
}

.raiting div:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.raiting div:active {
    background-color: hsl(25, 97%, 53%);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    border: none;
    padding: 15px;
    width: 330px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

button:hover{
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;

}

.thankYouImg {
    
    display: none;
    justify-content: center;
    align-items: center;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_text {
    display: none;
    color: hsl(25, 97%, 53%);
    margin-bottom: 20px;
    width: 150px;
    padding: 5px;
    border-radius: 20px;
    background-color: hsl(216, 12%, 8%);
    text-align: center;
}




.bottom{
    display: none;
    text-align: center;
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
    padding: 0 30px 25px 30px;

}